
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.juices {
    background-color:aquamarine;
    text-align: center;
    padding: 50px 20px;
}

.juice-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.juice {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
}

.juice img {
    width: 100%;
    border-radius: 8px;
}
